[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
ruff = "*"
pre-commit = "*"
pyright = "*"
djangorestframework = "*"
django-cors-headers = "*"
environ = "*"
haystack-ai = "*"
pinecone-haystack = "*"
py-dotenv = "*"
python-dotenv = "*"
sentence-transformers = ">=2.2.0"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.10"
